{% extends 'products/base.html' %}

{% block content %}
  <h1 style="text-align: center; margin-bottom: 20px;">Часто задаваемые вопросы</h1>
  <div >
    {% for term in terms %}
      <details >
        <summary >
          {{ term.question }}
        </summary>
        <p >{{ term.answer }}</p>
      </details>
    {% endfor %}
  </div>

  <style>
    h1 {
      font-family: Arial, sans-serif;
      color: #444;
    }

    details {
      cursor: pointer;
    }

    details:hover {
      background-color: #eaeaea; /* Эффект наведения */
    }
  </style>
{% endblock %}