{% extends 'products/base.html' %}

{% block content %}
<h1>Корзина</h1>

{% if cart_items %}
<table>
    <thead>
        <tr>
            <th>Товар</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product.price }}</td>
            <td>
                <form action="{% url 'remove_from_cart' item.product.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Удалить из корзины</button>
                </form>
                <form action="{% url 'update_cart' item.product.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" name="action" value="increase">+</button>
                    <button type="submit" name="action" value="decrease">-</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'payment' %}" class="btn btn-primary">Оплатить</a>
{% else %}
<p>Корзина пуста.</p>
{% endif %}

{% endblock %}