{% extends 'products/base.html' %}

{% block content %}
  <h1>Точки самовывоза</h1>
  <ul>
    {% for pickup_point in pickup_points %}
      <li>
        {{ pickup_point.name }} ({{ pickup_point.address }})
        {% if request.user.is_superuser %}
          <a href="{% url 'update_pickup_point' pickup_point.id %}" class="btn btn-secondary">Изменить</a>
          <a href="{% url 'delete_pickup_point' pickup_point.id %}" class="btn btn-danger">Удалить</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if request.user.is_superuser %}
    <a href="{% url 'create_pickup_point' %}" class="btn btn-primary">Добавить точку самовывоза</a>
  {% endif %}
{% endblock %}