{% extends 'products/base.html' %}
{% load static %}
{% block content %}
<style>
  .btn-cart {
  background-color: #337ab7;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn-cart:hover {
  background-color: #23527c;
}

.btn-cart img {
  vertical-align: middle;
  margin-right: 10px;
}
</style>

  <h1>Product Detail</h1>
  <b>{{ product.name }}</b>
  <p>Тип:{{ product.product_type }}</p>
  <p>Модель: {{ product.model }}</p>
  <p>Цена: {{ product.price }} BYN</p>
  <p><img src="{{ product.image.url }}" alt="{{ product.name }}" height="500" width="500" /></p>
  <p>
    <a href="{% url 'add_to_cart' product.id %}">
      <button class="btn btn-primary btn-cart">
        <img src="{% static 'images/cart1.png' %}" width="20" height="20" alt="Add to cart">
        Добавить в корзину
      </button>
    </a>
  </p>
{% endblock %}